/*
body{
  background-image: linear-gradient(rgb (81, 16, 11), rgb (75, 75, 75), rgb(223, 217, 217));
  style="background-color:aqua; text-align: center;"
}
*/
@keyframes sesamebackground {
  0%   {background-color: red;font-size: xx-large;text-align: center;position: relative;left:45%;}
  25%  {background-color: aqua;font-size: xx-large;text-align: center;position: relative;left:45%;}
  50%  {background-color: yellow;font-size: xx-large;text-align: center;position: relative;left:45%;}
  100% {background-color: lightgreen;font-size: xx-large;text-align: center;position: relative;left:45%;}
}

.homebody {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: sesamebackground;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.infobody{
  background-color: lightgoldenrodyellow;
}

.sesamemap{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.maintitle{
  text-align: center;
}

.hometitle{
  font-size: xx-large;
  margin-bottom: 100%;
}
